@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

:root {
  --color-primary-100: #edeff0;
  --color-primary-200: #d5dadc;
  --color-primary-300: #b9c1c5;
  --color-primary-400: #9ea8ae;
  --color-primary-500: #829097;
  --color-primary-600: #68767d;
  --color-primary-700: #3a4246;
  --color-primary-800: #23272a;
  --color-primary-900: #0c0d0e;

  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

html,
body,
#root {
  background-color: var(--color-primary-900);
  width: 100%;
  height: 100%;
}

html {
  position: fixed;
}
