@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

:root {
  --color-primary: #fff;

  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
  --screen-height-reduction: 0px;
  --color-primary-translucent: rgba(222, 227, 234, 0.15);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

/* for firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-translucent) rgba(0, 0, 0, 0);
}

/* for non-firefox */
::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
  /* shouldnt hardcode width, pls find way to make it dynamic, thin wasn't working for me...*/
}

::-webkit-scrollbar-track {
  display: initial;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-translucent);
  border-radius: 5px;
}

html,
body,
#root {
  background-color: var(--color-primary);
  height: 100%;
  width: 100%;
  display: flex;
}

audio {
  width: 0;
  display: none !important;
}

html {
  position: fixed;
}

#root {
  overflow-y: auto;
}

::-webkit-resizer {
  background: var(--color-primary-translucent);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h-screen {
  height: calc(100vh - var(--screen-height-reduction));
}

button:focus {
  outline: none;
}
